@import '../colors';

.Header{
  background-color: $blue;
  height: 5vh;
  min-height: 72px;
  padding: 0 3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .git-logo{
    font-size: calc(2rem + 2vmin);
    color: $white;
  }

  .header_input-block{
    width: 40%;
    max-width: 500px;
    height: 50%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    // border: 1px solid black;
    background-color: $white;
    font-size: 1.2rem;
    color: $gray;

    margin-left: 2%;
    padding: 0 1.5vmin;
    .header_input-logo{
      min-width: 10%;
    }
    .header_input{
      font-size: 1rem;
      flex-grow: 2;
      padding: 2px 1vmin;
      border: none;
      outline: none;
    }
  }
}