@import '../colors';

.Main{
  height: calc(100vh - max(5vmin, 72px) - 8vmin);
  min-height: calc(100vh - max(5vmin, 72px) - 8vmin);
  max-height: auto;
  padding: 4vmin;
  background-color: $gray-extra-light;
}

.main_content-block{
  display: grid;
  grid-template-columns: 30% 70%;
}

@media (max-width: 1024px) {
  .Main.minimize-height{
    height: auto;
    min-height: auto;
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  .main_content-block{
    grid-template-columns: 100%;
  }
}

@media (max-width: 750px) and (orientation: landscape) {
  .main_content-block{
    grid-template-columns: 100%;
  }
}